@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.cabecalho{
    display: flex;
}

.cabecalho img{
    width: 160px;
    padding-left: 4%;
}

.cabecalho h1{
    font-size: 50px;
    padding-top: 18px;
    padding-left: 2%;
    font-family: roboto;
}

.lilpeep img{
    margin-left: 44%;
}

.lilpeep h1{
    text-align: center;
    align-items: center;
    font-family: roboto;
}

.principal{
    padding-left: 4%;
    font-family: roboto;

}

.sobre{
    font-family: roboto;
    padding-left: 5%;
}

.musicas{
    font-family: roboto;
    padding-left: 5%;
}

.rodape{
    background-color:rgb(247, 247, 247) ;
    text-align: center;
}